aside h2{
    text-align: center;
    line-height: 2rem;
    padding-top: 1rem;
}

.subreddits {
    border: 1px solid rgb(253, 234, 237);
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    background-color: white;
}

.subreddits a {
    text-decoration: none;
    font-weight:600;
}

.subreddits a:visited {
    color: black;
}

.subreddits ul {
    list-style-type: none;
    padding-left: 2rem;
    line-height: 2.5rem;
}