.post {
    border: 1px solid lightcoral;
    padding: 10px 5px;
    margin: 10px auto;
}

.media {
    text-align: center;
    max-height: 500px;
    overflow: hidden;
}

.media img {
    width: 100%;
    height: auto;
    
}

h2{
    font-size: 1.5rem;
}

.postSelfText {
    max-height: 250px;   
    overflow: hidden;
    mask-image: linear-gradient(180deg,#000 60%,transparent);
    text-align: left;
}

.postVideo {
    width: 100%;
    height: auto
}